<h3>Login</h3>

<%= render :partial => "layouts/errors" %>
<br>

<%= form_tag("/sessions", :method => "post") do %>
	<%= label_tag(:email, "Email: ") %>
	<%= text_field_tag(:email) %>
	<br>
	<%= submit_tag("Login") %>
<% end %>